/*控制播放控件的大小*/
.click_button {
    width:6vh !important;
    height:6vh !important;
    font-size: 3vh !important;
}
/*reset*/
#proTime {
    position: absolute !important;
    bottom:12vh;
    left:0;
}
